.card {
	border-radius: 18px;
	box-shadow: 0px 10px 13px -4px #23235f30;
	flex-grow: 1;
	cursor: pointer;
}

.cardImage {
	width: 144px;
	height: 144px;
}

.cardTitle {
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
	padding: 0 12px;
}

.cardImageWrapper {
	display: flex;
	justify-content: center;
	border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
